Django==3.0.6
gunicorn==20.0.4
pytz==2019.3
sqlparse==0.3.1
whitenoise==5.1.0
newsapi==0.1.1
newsapi-python==0.2.6
ChatterBot==1.0.8
chatterbot-corpus==1.2.0
spacy==2.3.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm

