/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #4d4848;
}
#main_line{ 
	color: white !important;
	background-color: #7386d5;
	margin:-1.25rem !important;
	padding:1.25rem !important;
}

#main_para{
	color: white !important;
	background-color: #93a2e6;
	margin:-1.25rem !important;
	padding:1.25rem !important;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    height: 100vh;
    width: 160px;
    padding-top: 20px;
    min-width: 250px;
    max-width: 250px;
    background: #4C4646;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}
#items_style{
	background: #7386d5;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #4C4646;
    background: #fff;
}

#sidebar ul li.active>a {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #4C4646;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #4C4646;
}

a.article,
a.article:hover {
    background: #4C4646 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 40px;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        position: fixed;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

#circle
{
border-radius:50%;  
width:150px;
height:150px;
margin-left: auto;
margin-right: auto;
border-style: groove;
border-color: coral;
border-width: 7px; 
}

#text_align
{
text_align :center;
border = none;
}

#b_color
{
border-radius:50%;  
width:150px;
height:150px;
margin-left: auto;
margin-right: auto;
border-style: groove;
border-color: coral;
border-width: 7px; 
}

.myurl:hover{
color:red;
}

#border_close{
  border-style: solid;
  border-color: coral;
  border-width: 5px;
}

#content_format{
	
}

hr { 
  display: block;
  margin-top: 0.25em !important;
  margin-bottom: 0.05em !important;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: coral !important ;
} 

bcolor{
border-color: coral !important}