{%extends 'base/basetemplate.html'%}
{% block content %}  
<body>
	<div id="content">
		  <div class = "container-fluid">
             <div class = "row justify-content-md-center">
	                 <div class = "col-md-6">
						                   
							<h4>Project_1</h4>

							<a href="{% url 'news_agg' %}" >
                                    <i>News Aggregator</i> 
                            </a>

                            <h4>Project_2</h4>

							<a href="{% url 'chatting' %}" >
                                    <i>CHATTING</i> 
                            </a>

                             <h4>Project_3</h4>

                            <a href="https://www.youtube.com/watch?v=4-2j1PxztBA" class='myurl'>
                            <i>TicToe game Youtube</i> 

                            </a>
							
						
					 </div>
			  </div>
			</div>
	</div>

{% endblock %}