{%extends 'base/basetemplate.html'%}
<!DOCTYPE HTML>
{% load static %}
<html>
<head>
	  
</head>	
<body>
	<div id="content">
		  <div class = "container-fluid">
             <div class = "row justify-content-md-center">
	                 <div class = "col-md-6">
						{% block content %}                     
							<h4>Project_1</h4>
							<a href="{% 'news_aggregator.html' %}" 
                                    <i>News Aggregator</i> 
                            </a>
                            <h4>Project_2</h4>
							<a href="{% 'chatting.html' %}" 
                                    <i>Chat Bot</i> 
                            </a>
							<br/>
						{% endblock %}
					 </div>
			 </div>
			</div>
	</div>
</body>	  
</html>